.App {
  text-align: auto;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.rotate {

  transform: rotate(270deg);
  
  text-transform: uppercase;
  letter-spacing: 1px;
 
  
  
  
  
  }
  

.App-header {
  background-color: #176980;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bolder;
  min-height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: whitesmoke;
  color: black;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.btn-get-started{
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 50px;
  transition: 0.5s;
  color: #3498db;
  border: 2px solid #3498db;
  text-decoration: none;
  margin: 10px;
}

.btn-go-back{
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline;
  padding: 10px 30px;
  border-radius: 50px;
  transition: 0.5s;
  color:white;
  border: 2px solid #04AA6D;
  background-color: #04AA6D;
  text-decoration: none;
  margin: 10px;
  float:right;
}

.btn-get-started :hover{
  background: #3498db;
  color:#fff;

}

.header-img {
  text-align: center;
 
}

.animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
